.header-conatainer{
    grid-area: header;
    padding-bottom: 7px;
}
.header-conatainer img{
     border:2px solid rgb(228, 188, 27);
    margin-top:0px;
     height:80%;
    width:20%;
    border-radius:100%;

}
/* .image2{
    border:2px solid rgb(228, 188, 27);
    margin-top:0px;
     height:100%;
    width:20%;
    border-radius:50px;
}
.image1{
    border:2px solid rgb(228, 188, 27);
    margin-top:0px;
    height:100%;
    width:20%;
    border-radius:50px;
    
} */
.para{
    color:black;
    font-weight:700;
    font-size:1.3vh;
    margin-top:0px;
    margin-bottom: 6px;
}